body {


    background:transparent;

    font-family:Arial, sans-serif;

}



.caster-overlay {

    width:400px;

}


.caster-card {
    
    position:relative;

    overflow:hidden;
    
    display:flex;

    flex-direction:column;

    justify-content:center;

    padding:12px 45px 12px 20px;

    background:rgba(1,12,44,0.90);

    border-left:5px solid #00d3dd;

    clip-path:polygon(
        0 0,
        92% 0,
        100% 100%,
        0 100%
    );
    
/* Animation */

    opacity:0;

    transform:translateX(-120px);

    transition:
    opacity 0.8s ease,
    transform 0.8s ease;

}

.line {

    display:flex;

    align-items:center;

    gap:12px;

    margin:3px 0;

}



.icon {

    font-size:24px;

}



#casters {

    color:white;

    font-size:26px;

    font-weight:bold;

    text-transform:uppercase;

}



#event {

    color:#c89c4d;

    font-size:22px;

    font-weight:bold;

    text-transform:uppercase;

}
.caster-card.show {

    opacity:1;

    transform:translateX(0);

}

.caster-border {

    position:relative;

    width:400px;

    background:#c89c4d;

    padding-right: 5px;

    clip-path:polygon(
        0 0,
        92% 0,
        100% 100%,
        0 100%
    );

}
