body {

    margin:0;

    min-height:100vh;

    background:#010c2c;

    font-family:Arial, Helvetica, sans-serif;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

}



h1 {

    text-align:center;

    color:#00d3dd;

    font-size:42px;

    letter-spacing:3px;

    margin-bottom:40px;

}



body > * {

    box-sizing:border-box;

}



.container {

    width:600px;

}

h2 {

    color:#00d3dd;

    text-align:center;

}
.section-title {

    border-bottom:1px solid #3c9195;

    padding-bottom:10px;

}


input {

    width:100%;

    padding:15px;

    margin:10px 0 20px;

    background:#ffffff;

    border:2px solid #00d3dd;

    border-radius:10px;

    color:black;

    font-size:22px;

    text-align:center;

    text-transform:uppercase;

    box-sizing:border-box;

}



p {

    text-align:center;

    font-size:25px;

}

button {

    background:#3c9195;

    border:none;

    color:white;

    font-size:35px;

    width:60px;

    height:60px;

    border-radius:50%;

    cursor:pointer;

}


button:hover {

    transform:scale(1.1);

    background:#00d3dd;

}
.send-button {

    display:block;

    width:250px;

    height:60px;

    margin:30px auto 0;

    border-radius:12px;

    font-size:24px;

    font-weight:bold;

    background:#3c9195;

    color:white;

    cursor:pointer;

}


.send-button:hover {

    background:#00d3dd;

    color:#010c2c;

    transform:scale(1.03);

}
hr {

    border:0;

    height:2px;

    background:#00d3dd;

    margin:35px 0;

}
.team-card {

    background:#0b1a3a;

    border:2px solid #00d3dd;

    border-radius:15px;

    padding:25px;

    margin-bottom:25px;

    text-align:center;

    overflow:hidden;

    box-shadow:
    0 0 20px rgba(60,145,149,0.3);
}


.chroma-card {

    border-color:#00d3dd;

    box-shadow:
    0 0 20px rgba(60,145,149,0.3);

}

.score-control {

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

}


.score-control span {

    font-size:70px;

    font-weight:900;

    color:ffffff;

    min-width:100px;

}
select {

    width:100%;

    box-sizing:border-box;

    padding:15px;

    margin:10px 0 20px;

    background:#061536;

    border:2px solid #3c9195;

    border-radius:10px;

    color:white;

    font-size:22px;

    text-align:center;

    text-transform:uppercase;

    cursor:pointer;

}
