body {

    margin:0;

    background:transparent;

}


.multiview {

    width:1920px;

    height:1080px;

    position:relative;

}



.pov {

    position:absolute;

    width:600px;

    height:337px;

    border:3px solid #3c9195;

    box-sizing:border-box;

    background:transparent;

}


/* Barre or dans le coin */

.pov::after {

    content:"";

    position:absolute;

    right:-3px;

    top:-3px;

    width:220px;

    height:3px;

    background:#c89c4d;

}
.pov::before {

    content:"";

    position:absolute;

    left:-3px;

    bottom:-3px;

    width:220px;

    height:3px;

    background:#00d3dd;

}

/* Ligne du haut */

.pov1 {

    left:40px;

    top:320px;

}


.pov2 {

    left:660px;

    top:320px;

}


.pov3 {

    left:1280px;

    top:320px;

}



/* Ligne du bas centrée */

.pov4 {

    left:350px;

    top:680px;

}


.pov5 {

    left:970px;

    top:680px;

}
