body {

    margin:0;

    background:transparent;

}


.multiview {

    width:1920px;

    height:1080px;

    position:relative;

}



.pov {

    position:absolute;

    width:600px;

    height:337px;

    border:3px solid #3c9195;

    box-sizing:border-box;

}


/* Ligne du haut */

.pov1 {

    left:40px;

    top:80px;

}


.pov2 {

    left:660px;

    top:80px;

}


.pov3 {

    left:1280px;

    top:80px;

}



/* Ligne du bas centrée */

.pov4 {

    left:350px;

    top:460px;

}


.pov5 {

    left:970px;

    top:460px;

}
