body {

    margin:0;

    background:transparent;

    font-family:Arial,sans-serif;

}



.pov-card {

    width:250px;

    padding:10px 20px;

    background:rgba(1,12,44,0.90);

    border-left:5px solid #00d3dd;

    clip-path:polygon(
        0 0,
        92% 0,
        100% 100%,
        0 100%
    );

}



.player {

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    margin-top:20px;

}



.icon {

    font-size:26px;

    display:flex;

    align-items:center;

}


.name {

    color:white;

    font-size:24px;

    font-weight:bold;

}
