body{

    margin:0;

    width:1920px;

    height:1080px;

    overflow:hidden;

    background:linear-gradient(
    180deg,
    #07163d 0%,
    #03112f 35%,
    #010c2c 100%
);

    font-family:Arial,sans-serif;

}


.intro{

    position:relative;

    width:1920px;

    height:1080px;
    
    top: 200px;

    z-index:1;
}



/* Logo */
.logo1{

    position:absolute;

    top:90px;

    left:0;

    width:1920px;

    height:250px;

    display:flex;

    justify-content:center;

    align-items:center;

    filter:
        drop-shadow(0 0 25px rgba(60,145,149,.35))
        drop-shadow(0 0 60px rgba(60,145,149,.15));
}

.logo{

    height:700px;

    width:auto;

    z-index:1;

    filter:
        drop-shadow(0 0 25px rgba(60,145,149,.35))
        drop-shadow(0 0 60px rgba(60,145,149,.15));
}



/* Evènement */

.event{

    position:absolute;

    top:240px;

    width:100%;

    text-align:center;

    color:#ffffff;

    font-size:36px;

    font-weight:bold;

    letter-spacing:8px;

    animation: fadeUp 1.5s ease forwards;

    opacity:0;

     animation-delay:1s;


}

@keyframes fadeUp {

    from {

        opacity:0;

        transform:translateY(30px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}

/* Equipes */

.teams{

    position:absolute;

    top:415px;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#ffffff;

    font-size:36px;

    font-weight:bold;

    letter-spacing:8px;

    text-align:center;

    opacity:0;

    animation: fadeUp 1.5s ease forwards;

    animation-delay:8s;

     line-height:2;

    flex-direction:column;

}


.brand {

    font-size:72px;
    font-weight:bold;
    letter-spacing:4px;

}
.brand span {

    margin:0 5px;

}

.chroma {

    color:#ffffff;

}


.esport {

    color:#3c9195;

}


.tv {

    color:#c89c4d;

}
.team {

    color:white;

    font-size:72px;

    font-weight:bold;

    text-transform:uppercase;

    width:750px;

}

.team1 {

    text-align:right;

}


.team2 {

    text-align:left;

}

.vs {

    width:120px;

    text-align:center;

    color:#c89c4d;

    font-size:64px;

    font-weight:bold;

}



/* BO */

.bo{

    position:absolute;

    top:610px;

    width:100%;

    text-align:center;

    color:#c89c4d;

    font-size:32px;

    letter-spacing:4px;

}


/* Lignes match */

.match-line {

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    align-items:center;

    gap:25px;

}


.match-line span {

    width:350px;

    height:3px;

    background:#3c9195;

}



.match-line div {

    width:12px;
    height:12px;
    background:#c89c4d;
    transform:rotate(45deg);

    animation: pulseDiamond 3s ease-in-out infinite;

}


/* Pulsation du losange */

@keyframes pulseDiamond {

    0% {

        transform:rotate(45deg) scale(1);

        opacity:1;

    }


    50% {

        transform:rotate(45deg) scale(1.35);

        opacity:0.75;

    }


    100% {

        transform:rotate(45deg) scale(1);

        opacity:1;

    }

}


/* Position */

.top-line {

    top:325px;

}


.bottom-line {

    top:525px;

}
/* BACKGROUND SHAPES */


.background-shapes {

    position:absolute;

    top:0;

    left:0;

    width:1920px;

    height:1080px;

    overflow:hidden;

    z-index:0;

}



.shape-left {

    position:absolute;

    width:700px;

    height:1200px;

    background:#3c9195;

    opacity:0.10;

    transform:rotate(35deg);

    left:-500px;

    top:-200px;

}



.shape-right {

    position:absolute;

    width:700px;

    height:1200px;

    background:#c89c4d;

    opacity:0.10;

    transform:rotate(-35deg);

    right:-500px;

    bottom:-200px;

}

/* TECH LINES */


.tech-line {

    position:absolute;

    width:850px;

    height:3px;

    background:#3c9195;

    opacity:0.45;

    transform-origin:center;

}


/* Ligne gauche */

.line-left {

    left:-185px;

    top:450px;

    transform:rotate(-55deg);

}

/* Ligne droite */

.line-right {

    right:-185px;

    bottom:340px;

    background:#c89c4d;

    transform:rotate(55deg);

}
/* HUD ELEMENTS */


.hud {

    position:absolute;

    display:flex;

    gap:10px;

}



.hud span {

    width:12px;

    height:12px;

    border:2px solid #3c9195;

}



/* Coins */


.top-left {

    top:80px;

    left:80px;

}



.top-right {

    top:80px;

    right:80px;

}



.bottom-left {

    bottom:80px;

    left:80px;

}



.bottom-right {

    bottom:80px;

    right:80px;

}



.bottom-right span,
.top-right span {

    border-color:#c89c4d;

}


/* TECH GRID */


.tech-grid {

    position:absolute;

    inset:0;

    background-image:
    repeating-linear-gradient(
        45deg,
        rgba(60,145,149,0.06),
        rgba(60,145,149,0.06) 1px,
        transparent 1px,
        transparent 35px
    );

    opacity:0.5;

}
/* WELCOME MESSAGE */


.welcome {

    position:absolute;

    top:240px;

    width:100%;

    text-align:center;

    color:white;

    font-size:48px;

    font-weight:bold;

    letter-spacing:4px;

    opacity:0;

    transition:opacity 0.8s ease;

}



.welcome.show {

    opacity:1;

}



#welcome-line2 {

    color:#c89c4d;

    margin-top:15px;

    font-size:40px;

}

.socials {


    text-align:center;

    position:absolute;

    top:690px;

    width:100%;

    text-align:center;

    color:white;

    font-size:48px;

    font-weight:bold;

    opacity:1;

    
}


.social-title {

    color:#c89c4d;

    font-size:30px;

    font-weight:bold;

    letter-spacing:4px;

      margin-bottom:40px;
}


.social-line {

    color:white;

    font-size:26px;

    margin:15px;

}



.social-line span {

    color:#3c9195;

    font-weight:bold;

    margin-right:15px;

}

.social-content{

    opacity:1;

    transform:translateY(0);

    transition:
        opacity .35s ease,
        transform .35s ease;

}

.social-content.fade{

    opacity:0;

    transform:translateY(-12px);

}

.social-card {

    position:relative;

    width:520px;

    margin:40px auto 0;

    padding:30px 40px;

    background:rgba(7,25,54,0.85);

    border:2px solid #3c9195;

    clip-path:polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px
    );

    box-shadow:
        0 0 25px rgba(60,145,149,.25);
  
    opacity:0;

    
}

.social-card.show {

    animation:socialEnter 1s ease forwards;

}

@keyframes socialEnter {

    0% {

        opacity:0;

        transform:
            translateY(40px)
            scale(.95);

    }


    70% {

        opacity:1;

        transform:
            translateY(-5px)
            scale(1.02);

    }


    100% {

        opacity:1;

        transform:
            translateY(0)
            scale(1);

    }

}

.social-card::before {

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:80px;

    height:3px;

    background:#c89c4d;

}


.social-card::after {

    content:"";

    position:absolute;

    bottom:0;

    right:0;

    width:80px;

    height:3px;

    background:#c89c4d;

}
.social-header{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:18px;

}

#socialLogo{

    width:38px;

    height:38px;

    object-fit:contain;

}

#socialName{

    color:#ffffff;

    font-size:34px;

    font-weight:bold;

    letter-spacing:3px;

}

.social-value{

    margin-top:25px;

    color:#c89c4d;

    font-size:28px;

    text-align:center;

    letter-spacing:1px;

}
