body{

    margin:0;

    width:1920px;

    height:1080px;

    overflow:hidden;

    background:#010c2c;

    font-family:Arial,sans-serif;

}


.intro{

    position:relative;

    width:1920px;

    height:1080px;
    
    top: 150px;
}



/* Logo */
.logo1{

    position:absolute;

    top:0;

    left:0;

    width:1920px;

    height:250px;

    display:flex;

    justify-content:center;

    align-items:center;

}
.logo{

    height:300px;

    width:auto;

}



/* Evènement */

.event{

    position:absolute;

    top:240px;

    width:100%;

    text-align:center;

    color:#c89c4d;

    font-size:36px;

    font-weight:bold;

    letter-spacing:8px;

}



/* Equipes */

.teams{

    position:absolute;

    top:420px;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:100px;

}



.team {

    color:white;

    font-size:72px;

    font-weight:bold;

    text-transform:uppercase;

    width:750px;

}

.team1 {

    text-align:right;

}


.team2 {

    text-align:left;

}

.vs {

    width:120px;

    text-align:center;

    color:#3c9195;

    font-size:64px;

    font-weight:bold;

}



/* BO */

.bo{

    position:absolute;

    top:610px;

    width:100%;

    text-align:center;

    color:#c89c4d;

    font-size:32px;

    letter-spacing:4px;

}



/* Starting Soon */

.status{

    position:absolute;

    bottom:320px;

    width:100%;

    text-align:center;

    color:white;

    font-size:42px;

    font-weight:bold;

}
/* Lignes match */

.match-line {

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    align-items:center;

    gap:25px;

}


.match-line span {

    width:350px;

    height:3px;

    background:#3c9195;

}



.match-line div {

    width:12px;

    height:12px;

    background:#c89c4d;

    transform:rotate(45deg);

}


/* Position */

.top-line {

    top:350px;

}


.bottom-line {

    top:540px;

}
