body{

    margin:0;

    width:1920px;

    height:1080px;

    overflow:hidden;

    background:#010c2c;

    font-family:Arial,sans-serif;

}

.title{

    margin-top:40px;

    text-align:center;

    color:white;

    font-size:48px;

    font-weight:bold;

}

.maps{

    width:1800px;

    margin:80px auto;

    display:flex;

    justify-content:space-between;

}

.map-card{

    width:320px;
    height:680px;

    overflow:hidden;

    background:#07163d;

    border-radius:18px;

    border:3px solid #3c9195;

}

.map-image{

    width:100%;

    height:420px;

    object-fit:cover;

}

.map-name{

    height:55px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:30px;

    font-weight:bold;

    letter-spacing:2px;

}

.round-title{

    height:55px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#c89c4d;

    color:#07163d;

    font-size:22px;

    font-weight:bold;

    letter-spacing:3px;

    text-transform:uppercase;

}

.ban-title{

    height:55px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#c89c4d;

    color:#07163d;

    font-size:22px;

    font-weight:bold;

    letter-spacing:3px;

    text-transform:uppercase;

}

.hero-bans{

    display:flex;

    justify-content:center;

    gap:8px;

    margin:18px 0;

}

.hero-ban{

    width:130px;

    height:130px;

    object-fit:cover;

    border-radius:50%;

    border:3px solid #c89c4d;

    background:#07163d;

}
